@model ShoppingCart.Application.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    @Html.Partial("ProductDetailsPartial", Model)
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
