@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Products Catalogue</h1>
<br>
<div class="container">
    <br>
    <div class="row">
        @Html.Partial("ShowProductsPartial", Model)
    </div>
</div>

