@model IEnumerable<ShoppingCart.Application.ViewModels.ProductViewModel>
@{
    ViewData["Title"] = "Index";
}
@foreach (var prod in Model)
{
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="@prod.ImageUrl" class="card-img-top" alt="@prod.Name">
            <div class="card-body">
                <h5 class="card-title">@prod.Name</h5>
                <p class="card-text">€@prod.Price</p>
                <a href="Products/Details?id=@prod.Id" class="btn btn-primary">Book Description</a>
                <a href="Products/AddToCart?pId=@prod.Id" class="btn btn-primary">Add to Cart</a>
                <a href="Products/Delete?id=@prod.Id" onclick="return window.confirm('Are you sure you want to delete this product')" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
}
