@model IEnumerable<ShoppingCart.Application.ViewModels.CartViewModel>

@{
    ViewData["Title"] = "Index";
    double prod = 0;
}
<div class="container">
    <h1>My Cart</h1>
    <div class="row">
        <div class="col-md-9">
            @Html.Partial("ShowCartProductsPartial", Model)
        </div>
        <div class="col-md-3 text-center">
            <h4>Total</h4>
            @foreach (var item in Model)
            {
                prod += (item.Product.Price * item.Quantity);
            }
            <h5>€@prod</h5> 
            <a href="/Carts/CheckOut?price=@prod" onclick="return window.confirm('Are you sure you want to checkout?')" class="btn btn-success">Checkout</a>
        </div>
    </div>
</div>

